dist
.wrangler
.output
.vercel
.netlify
.vinxi
.nitro
.dex
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# Runtime data
.data/

# System Files
.DS_Store
Thumbs.db
.fallow/
